<html>
    <head>
        <link rel="stylesheet" href="mane.css">
        <%- include("partials/header.ejs") -%>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-md-5">
             <div class="card">
               <h2 class="card-title text-center">Register <a href="http://opensnippets.com">open snippets</a></h2>
                <div class="card-body py-md-4">
                 <form  action="/singup" method="post">
                    <div class="form-group">
                       <input type="text" class="form-control" value=" " name="name" placeholder="Name">
                  </div>
                  <div class="form-group">
                       <input type="email" class="form-control" value=" " name="email" placeholder="Email">
                                      </div>
                                      
                                    
             <div class="form-group">
               <input type="password" class="form-control" value="" name="password" placeholder="Password">
             </div>
             <div class="form-group">
                <input type="password" class="form-control" value="" name="confirm_password"  placeholder="confirm-password">
             </div>
             <div class="d-flex flex-row align-items-center justify-content-between">
                <a href="#">Login</a>
                                          <button class="btn btn-primary">Create Account</button>
                    </div>
                 </form>
               </div>
            </div>
          </div>
          </div>
          </div>
    </body>
</html>